
* {
    font-family: "Figtree", serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 300px 10px 300px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 300px 80px 300px;
    gap: 100px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, p {
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 30px 350px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info_box {
    width: 250px;
}

.sign-up {
    padding: 50px 300px;
}

.sign-up-div {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    border-radius: 10px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: white;
    padding: 20px;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 450px;
    font-size: 36px;
    color: #1F2937
}

.writing {
    font-weight: lighter;
    font-style: italic;
}

.attributed_to {
    text-align: right;
}

.logo {
    font-size: 32px;
    color: #F9FAF8;
}

.main-text {
    font-size: 56px;
    color: #F9FAF8;
    font-weight: 900;
}

a, p {
    font-size: 23px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    font-size: 26px;
    padding: 10px 50px;
    border-color: white;
    border-style: solid;
}

.sign-up-div {
    background-color: #3882F6;
    color: white;
}

.info-header {
    font-size: 48px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 30px;
}

.call-to-action {
    font-size: 36px;
}

.gray-box {
    background-color: grey;
    width: 1000px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

p {
    margin: 20px 0 30px 0;
}

.text2 {
    font-size: 26px;
}

.text {
    font-size: 20px;
}

a:hover {
    color: grey;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: #5191f5;
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 12px;
    border-style: solid;
    border-color: #1F2937;
    border-width: 4px;
    margin-bottom: 5px;
}